
.logo{
  width:120px;
  align-self: center;
  margin-bottom: 25%;
  margin-top: 25%;
}

.TabListContainer{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 25%;
  height: 100vh;

}

.StyledNavLink{
  display: block;
  color: white;
  text-transform: capitalize;
  text-align: left;
  text-decoration: none;
  padding: 5px;
  background-color: #96c036;
  width: 100%;
  margin-left:12px;
}

.active {
  color: black;
  background-color: white;
}

.social-group ul {
  list-style: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 10px;
  margin-top: 50px;
  margin-left: 12px;
  margin-bottom: 24px;
}

.social img {
  width: 15px;
}

.tiny {
  font-size: 0.5rem;
  margin-left: 12px;
}